<a class="active item">
  Chatroom
</a>
<a class="item">
  Messages
</a>
<div class="right menu">
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item">Logout</a>
      <a class="item">Login</a>
      <a class="item">Signup</a>
    </div>
  </div>
  <div class="item">
    <div class="ui primary button">Sign Up</div>
  </div>
</div>